html, body {
  height: 100%;
  background-color: grey;
  background: linear-gradient(grey, lightgrey);
}

button {
  background: linear-gradient(grey, lightgrey);
}

body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 20%;
  left: 20%;
  font-size: 36px;
}
@media only screen and (max-width: 975px) {
    body {
        left:10%;
        right:10%;
        font-size: 24px;
    }
}

@media only screen and (max-width: 675px) {
    body {
        left:0;
        right:0;
        font-size: 18px;
    }
}
